<div class="container">
  <h1 class="title is-1 mt-6 block">編輯</h1>
  <table class="table is-bordered mb-3 is-fullwidth">
    <tbody>
      <tr>
        <td colspan="2">
          <%= render 'form', joke: @joke %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
